# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore user-specific files
.npmrc
.npmignore
.npm-debug.log

# Ignore Yarn's lock files
yarn.lock

# Ignore the dotenv environment file if used
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db
